body {
    text-align: center;
    font-family: 'Merriweather', serif;
}
/*Title*/
.navbar-top {
    background-color: aquamarine;
}
.title-li {
    margin-inline-end: 60px;
    font-size: 1.5rem;
}
@media (max-width:989px) {
    .title-btn {
        margin: 0 auto;

    }

   .title-li{
    margin-inline-start: 15%;
   }
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: #66BFBF;
}
/*Images*/
#left-cloud {
    position: absolute;
    top: 50%;
    left: 300px;
}
#right-cloud {
    position: absolute;
    top: 60%;
    right: 300px;
}
.mountain-img {
    width: 60%;
}
/*Me*/
.middle-container {
    padding: 5%;
}
.text-me {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.5;
    font-size: 1.5rem;
}
h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    letter-spacing: 2px;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: rgb(4, 52, 58);
    line-height: 2;
}
h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(11, 30, 117);
}
h3 {
    display: inline-block;
    font-family: 'Montserrat Alternates', sans-serif;
    color: darkcyan;
}
p {
    margin-block-end: 0px;
    margin-block-start: 0px;
    color: black;
}
body {
    margin: 0;
}
#top-container {
    background-color: aquamarine;
    padding-top: 10%;
}
#text-top {
    font-size: 1.65rem;
    margin-top: 0;
}
.schools {
    font-size: 20px;
}
#img-skill1 {
    width: 25%;
    float: left;
    margin-right: 30px;
}
#img-skill2 {
    width: 25%;
    float: right;
    margin-left: 30px;
}
#skill-1 {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
#skill-2 {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
#contact-me {
    margin-top: 100px;
    line-height: 3;
}
#bott-text {
    width: 50%;
    margin: 0 auto;
    line-height: 2;
}
.bott-img {
    width: 5%;
}
/*Contact*/
.contact-div {
    background-color: aquamarine;
    padding: 5%;
}
.contact-txt {
    margin-bottom: 3%;
}
.contact-form {
    padding: 3%;
}
.contact-icon {
    color: rgb(11, 30, 117);
    margin-inline-end: 2%;
    margin-bottom: 10px;
}
.contact-icon:hover {
    color: black;
}
.contact-me-icon{
    margin-inline-start: 5px;
}